@use "../base/variables" as *;

h1 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

h2 {
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-weight: 900;
}

p {
    margin: 0 0 0.5rem 0;
}

ul {
    padding-left: 0;
    li {
        line-height: 1.5rem;
        margin: .5rem 0;
        position: relative;
        padding-left: 1.5rem;
        &::before {
            background: #fff;
            border: .2rem solid #00aeef;
            border-radius: 100%;
            content: "";
            display: inline-block;
            width: .8rem;
            height: .8rem;
            left: 0;
            position: absolute;
            top: .4rem;
        }
        &::marker {
            content: ""; 
            // font-size: 1.2rem;
        }
    }

    ul {
        li::marker {
            content: "➥ "; /* Emoji personalizado */
            font-size: 1.2rem;
        }
    }
}

hr {
    margin: 1rem 0;
}

a{
  color: var(--primary-color)
}
