body {
  background: #0072b6;
  color: #000;
  font-family: Lato, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .header { grid-area: 1 / 1 / 2 / 14; }
  .sidebar { grid-area: 2 / 1 / 3 / 3; }
  .chat-area { grid-area: 2 / 3 / 3 / 14; }

.footer {
  background: #0072b6;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure.logo-white {
  width: 100%;
  height: 6.3rem;
  margin-bottom: 0.5rem;
}
figure.logo-white svg path {
  fill: white;
}
figure.logo-white svg {
  width: 10rem;
}
figure.logo-white p {
  font-size: 1.4rem;
}

figure.logo-default{
  color: var(--primary-color)
}
figure.logo-default svg {
  height: 3rem;
}

.input-field {
  height: 3rem;
  color: white;
  border-color: white !important;
}
.input-field.error {
  border-color: #ff0000 !important;
}
.input-field:focus {
  border-top: none;
}

input::placeholder { /* Estándar */
  color: var(--color-placeholder);
}

input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
  color: var(--color-placeholder);
}

input::-moz-placeholder { /* Firefox 19+ */
  color: var(--color-placeholder);
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-placeholder);
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--color-placeholder);
}
 
.peer.error:focus ~ .peer-focus\:after\:border-white::after{
  border-bottom-color: red;
}  

button.btn {
  letter-spacing: 2px;
  margin: 0 auto 3rem;
  max-width: 37rem;
  border-radius: 30px;
  padding: 1.5rem 3.8rem;
  -webkit-appearance: none;
    appearance: none;
    background: #00aeef;
    border-radius: 25px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 700 18px / 1.1 Lato, Arial, sans-serif;
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding: 1.2rem 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
}